@charset "UTF-8";
//-------------------------------------//
//  User's Base Style
//-------------------------------------//
html{
	font-size: $font-size-base;
	font-family: $font-family-body;
}

body {
	-webkit-text-size-adjust: 100%;
	line-height: 1.3;
}

a {
	color: inherit;
	text-decoration: underline;
}

ul{
	list-style: none;
	padding: 0;
}

img {
	vertical-align: bottom;
}

select, button, input, textarea {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}

svg{
	pointer-events: none;
}
