doctype html
html(lang='ja')
    head
        meta(http-equiv='X-UA-COMPATIBLE',content='IE=edge')
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
        meta(format-detection='telephone=no')
        meta(name="description",content="")

        meta(property="og:type",content="website")
        meta(property="og:title",content="テキストテキストテキストテキスト")
        meta(property="og:description",content="")

        title テキストテキストテキストテキスト
        link(rel='icon' href='icon/favicon.ico' type='image/x-icon')
        link(rel='apple-touch-icon',href='icon/apple-touch-icon.png')
        link(rel='apple-touch-icon',sizes='72x72',href='icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon',sizes='114x114',href='icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon',sizes='144x144',href='icon/apple-touch-icon-144x144.png')
        link(rel='stylesheet',href='<%= common %>/css/style.css')
        script(src='<%= common %>/js/modernizr-custom.js')
    body.no-js
        script(src='<%= common %>/js/lib.js')
        script(src='<%= common %>/js/all.js')
